<img src="{eyou:global name='web_templets_m' /}/skin/img/contact.png" style="display: block;width: 4rem;margin: 0 auto;">
<div class="fpublic">
    <div class="l">
        <p><b>杭州总部校区:</b></p>
        <p>立即报名:177-0642-7935</p>
        <p>官方咨询:0571-85262386</p>
        <p>官方网站:www.yichengart.com</p>
        <div>
            <p><b>官方微博:</b></p>
            <p>@杭州艺橙动画</p>
        </div>
    </div>
    <div class="r">
        <p><b>贵阳校区:</b></p>
        <p>立即报名:151-2145-3304</p>
        <p>官方咨询:177-8415-8418</p>
        <p>官方网站:www.gyychsjpxq.com</p>
        <div>
            <p><b>校长热线:</b></p>
            <p>136-5666-5045</p>
        </div>
    </div>
</div>
<div class="fpublic fpublic1">
    <p><b>画室地址</b></p>
    <p>杭州校区 | 杭州市萧山区楼塔镇纱艺园3号楼</p>
    <p>宁波校区 | 慈溪市北二环西路136号</p>
    <p>临安校区 | 临安区景杉路806号</p>
    <p>贵阳校区 | 贵阳市观山湖区金华镇奋进路苏宁物流园B-2栋</p>
    <p>杭州少儿美术校区 | 杭州市上城区明珠街1227号</p>
</div>