<html style="font-size: 25px;">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="{$eyou.field.seo_keywords}">
	<!-- 页面描述 -->
	<meta name="description" content="{$eyou.field.seo_description}">
	<title>{$eyou.field.seo_title}</title>
    <link rel="stylesheet" href="{eyou:global name='web_templets_m' /}/skin/css/aos.css">
    <link rel="stylesheet" href="{eyou:global name='web_templets_m' /}/skin/css/swiper.min.css">
    <link rel="stylesheet" href="{eyou:global name='web_templets_m' /}/skin/css/main.css">

    <script type="text/javascript" src="{eyou:global name='web_templets_m' /}/skin/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_m' /}/skin/js/aos.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_m' /}/skin/js/swiper.min.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_m' /}/skin/js/dyfrom.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_m' /}/skin/js/main.js"></script>
</head>

<body style="background-color:#f5f5f5;">
	<div class="no" style="padding-bottom: 46px;">
		{eyou:include file='header.htm' /}
		<div class="advtange">

			<div class="adv-title">
				<div class="advt01">Advantages</div>
				<div class="advt02">艺橙优势</div>
			</div>
			{$eyou.field.content}
		</div>
		{eyou:include file='ba.htm' /}
	</div>




	{eyou:include file='footer.htm' /}

</body>

</html>