<!DOCTYPE html>
<html style="font-size: 25px;">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="{$eyou.field.seo_keywords}">
	<!-- 页面描述 -->
	<meta name="description" content="{$eyou.field.seo_description}">
	<title>{$eyou.field.seo_title}</title>
    <link rel="stylesheet" href="{eyou:global name='web_templets_m' /}/skin/css/aos.css">
    <link rel="stylesheet" href="{eyou:global name='web_templets_m' /}/skin/css/swiper.min.css">
    <link rel="stylesheet" href="{eyou:global name='web_templets_m' /}/skin/css/main.css">

    <script type="text/javascript" src="{eyou:global name='web_templets_m' /}/skin/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_m' /}/skin/js/aos.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_m' /}/skin/js/swiper.min.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_m' /}/skin/js/dyfrom.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_m' /}/skin/js/main.js"></script>
</head>

<body>
	<div class="no" style="padding-bottom: 50px;">
		{eyou:include file='header.htm' /}
		<div class="nbanner">
			<img src="{eyou:global name='web_templets_m' /}/skin/img/gsjj.png">
		</div>
		<div class="gyt" style="padding-top:0.8rem;padding-bottom:0.6rem;"><span>美术资讯</span><samp></samp></div>
		<div class="mbg" style="min-height: 487px;">

			<div class="zxzx">
				<ul>
					{eyou:list}
					<li><a href="{$field.arcurl}">
							<div class="title over1"><span>{$field.title}</span><i><img
										src="{$field.litpic}"></i>
							</div>
							<div class="time">{$field.add_time|MyDate='Y-m-d H:i:s',###}</div>
						</a></li>
						{/eyou:list}
				</ul>
			</div>
			<div>{eyou:pagelist listitem="index,pageno"  listsize="5" /}</div>
		</div>
		{eyou:include file='ba.htm' /}
	</div>
	{eyou:include file='footer.htm' /}

</body>

</html>