<div class="header">
    <div class="warpper">
        <div class="fl logo"><a href="/"><img
                    src="{eyou:global name='web_templets_pc' /}/skin/img/8a43ef8143d62d3e290f4604490e1b67.png"></a></div>
        <div class="fr nav">
            <ul>
                <li class="active"><a href="/">首页</a></li>
                <li class=""><a href="/index.php?m=home&c=Lists&a=index&tid=68">面授课程</a></li>
                <li class=""><a href="/index.php?m=home&c=Lists&a=index&tid=69">团队介绍</a></li>
                <li class=""><a href="/index.php?m=home&c=Lists&a=index&tid=72">作品展示</a></li>
                <li class=""><a href="/index.php?m=home&c=Lists&a=index&tid=77">全国分校</a></li>
                <li class=""><a href="/index.php?m=home&c=Lists&a=index&tid=85">美考资讯</a></li>
                <li class=""><a href="/index.php?m=home&c=Lists&a=index&tid=79">关于我们</a></li>
            </ul>
        </div>
        <div></div>
        <div class="clearfix"></div>
    </div>
</div>