<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="周末美术培训课程,暑假美术培训课程,素描课程,美术兴趣班">
    <!-- 页面描述 -->
    <meta name="description" content="重庆荷马教育美术培训课程的设计,针对不同考学目标的艺考生,重庆美术培训学校美术培训班型分类细致,满足不同美术考生需求,美术成绩提升快。">
    <title>重庆周末美术培训学校-高考美术集训课程-暑假美术培训-重庆荷马画室</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/aos.css">
    <link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/swiper.min.css">
    <link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/main.css">

    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/aos.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/swiper.min.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/dyfrom.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/main.js"></script>
    
</head>

<body>


    {eyou:include file='header.htm' /}
    <div class="nbanner">
        <img src="{eyou:global name='web_templets_pc' /}/skin/img/bmskc.jpg">
    </div>
    <div class="wenzhagnbiaoti">
        <div class="wenzhagnbiaoticom">
            <div class="title">面授课程<span>TRAINING COURSES</span></div>
            <p style="    font-size: 18px;
    color: rgba(51,51,51,1);
    text-align: center;
    margin-bottom: 25px;"><span style="font-size: 24px;">高考集训课程</span></p>
            <table>
                <tbody>
                    <tr class="firstRow">
                        <th colspan="2" style="border-top-left-radius: 10px">班型</th>
                        <th>考学目标</th>
                        <th>师资</th>
                        <th style="border-top-right-radius: 10px">适合人群</th>
                    </tr>
                    <tr class="qian">
                        <td colspan="2">重点班</td>
                        <td style="width: 256px; word-break: break-all;">
                            <p>知名本科大学重点大学、</p>
                            <p>9大美院</p>
                        </td>
                        <td style="word-break: break-all;">学科教师</td>
                        <td style="width: 398px">目标定向为各省联考高分、川美及其他美院的学员</td>
                    </tr>
                    <tr class="shen">
                        <td colspan="2">定制班</td>
                        <td style="word-break: break-all;">
                            <p>9大美院、</p>
                            <p>艺术类名校国家985 211重点大学</p>
                        </td>
                        <td>各学科主管老师</td>
                        <td style="word-break: break-all;">专业基础优秀，目标定向各大美院及名校专业<br>高分的学员,专业成绩特别优秀，复读生优先。</td>
                    </tr>
                    <tr class="qian">
                        <td colspan="2">央清班</td>
                        <td style="width: 256px">央清为主的名校（央美、清华、国美、中国戏曲、中央戏剧、北影、上海戏剧、川美、中国 传媒、中央民族、东华大学、 江南大学、北京服装学院、
                            北京印刷学院、浙江理工等）</td>
                        <td>校区校长</td>
                        <td>文化、专业优秀，大学目标定向清华、央美等顶尖院校的拔尖学员</td>
                    </tr>
                    <tr class="shen">
                        <td colspan="2" style="border-bottom-left-radius: 10px">校长班</td>
                        <td style="word-break: break-all;">
                            <p>知名本科大学重点大学、</p>
                            <p>9大美院、各类名校 <br></p>
                            <p>（44所独立院校）</p>
                        </td>
                        <td>总校教学总监<br>总校长直管</td>
                        <td style="border-bottom-right-radius: 10px">有特定目标的学员</td>
                    </tr>
                </tbody>
            </table>
            <p style="    font-size: 18px;
    color: rgba(51,51,51,1);
    text-align: center;
    margin-bottom: 25px;"><span style="font-size: 24px;">非高考集训课程</span></p>
            <table>
                <tbody>
                    <tr class="firstRow">
                        <th colspan="2" style="border-top-left-radius: 10px">班型</th>
                        <th>授课时间</th>
                        <th style="border-top-right-radius: 10px">备注</th>
                    </tr>
                    <tr class="qian">
                        <td rowspan="4" style=" 80px;border-bottom-left-radius: 10px">非集训班</td>
                        <td>暑假班</td>
                        <td>每年7月开班</td>
                        <td style="word-break: break-all;">（1）不足一月，减去已上课时费，交余额学费<br>
                            （2）招收全国各地学生</td>
                    </tr>
                    <tr class="shen">
                        <td>寒假班</td>
                        <td style="width: 296px; word-break: break-all;">（1）春节前1月20日-2月2日左右<br>
                            （2）春节后2月10日-2月22日左右</td>
                        <td style="width: 593px; word-break: break-all;">
                            &nbsp;（1）标准课时为20天。兼顾到不同省份寒假放假时间及开学时间差异化，我校开课跨度为26天<br>
                            （2）学费一次性收取。若因学校原因导致上课天数超出20天的，学校
                            不再另行收费。</td>
                    </tr>
                    <tr class="qian">
                        <td>周末班</td>
                        <td>随到随学、个性化分班教学</td>
                        <td>强化专业基础，冲刺重点学校:提升绘画水平，提高艺术修荞艺考升学专功训练</td>
                    </tr>
                    <tr class="qian">
                        <td>培优班</td>
                        <td>随到随学、个性化分班教学</td>
                        <td>定制专项课程，规划学习目标;央清培优训练，提前强化专业基础，冲刺重点学校</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <style type="text/css">
        .wenzhagnbiaoti table {
            width: 1200px;
            margin: 0 auto;
            margin-bottom: 80px;
            border-collapse: separate;
            border-spacing: 2px;
        }

        .wenzhagnbiaoti table th {
            font-size: 24px;
            font-weight: 500;
            color: rgba(51, 51, 51, 1);
            background: #fdcbc0;
            padding: 20px;
            text-align: center;
        }

        .wenzhagnbiaoti table td {
            font-size: 18px;
            color: rgba(115, 115, 115, 1);
            text-align: center;
            padding: 20px;
            line-height: 36px;
        }

        .wenzhagnbiaoti table .qian td {
            background: #ffecea;
        }

        .wenzhagnbiaoti table .shen td {
            background: #f9e7e8;
        }
    </style>
{eyou:include file='footer.htm' /}
 
</body>

</html>