<!DOCTYPE html>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="">
	<!-- 页面描述 -->
	<meta name="description" content="">
	<title>艾艺公司管理</title>
    <link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/aos.css">
    <link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/swiper.min.css">
    <link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/main.css">

    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/aos.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/swiper.min.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/dyfrom.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/main.js"></script>


</head>

<body>
	{eyou:include file='header.htm' /}
	<div class="nbanner">
		<img src="{eyou:global name='web_templets_pc' /}/skin/img/bmskc.jpg">
	</div>
	<div class="bannertop">
		<div class="search">
			<div class="searchbox">
				<div class="searchbox_nav">
					<div class="searchbox_nav_navtop">全国重点院校<i class="layui-icon layui-icon-down"></i></div>
					<div class="searchbox_nav_navcom">
						<label class="sjxtotp"></label>
						<ul>
							<li>
								<a href="http://www.ayhmjy.com/zdyx/1.html">九大美院</a>
							</li>
							<li>
								<a href="http://www.ayhmjy.com/zdyx/4.html">985、211院校</a>
							</li>
							<li>
								<a href="http://www.ayhmjy.com/zdyx/3.html">15所参照艺术院校</a>
							</li>
							<li>
								<a href="http://www.ayhmjy.com/zdyx/2.html">31所独立院校</a>
							</li>
							<li>
								<a href="http://www.ayhmjy.com/zdyx/0.html">普通院校</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="searchbox_right">
					<form action="http://www.ayhmjy.com/home/index/search">
						<input type="text" name="q" placeholder="输入想搜索的内容">
						<button><i><img src="{eyou:global name='web_templets_pc' /}/skin/img/sousuo.png"></i><label>搜索</label></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="youxiuzuopin">
		<div class="warpper">
			<div class="nav_titi_name">
				<span class="nav_titi_name_a">团队介绍</span>
				<span class="nav_titi_name_b">
					<label>faculty</label>
				</span>
				<label class="nav_titi_name_c" style="left:195px;"></label>
			</div>

			<div class="youxiucom">
				<div class="activeclidk rigleft">
					<span class="activecoler"><a href="http://www.ayhmjy.com/new/1301.html">艾艺公司管理</a></span>
					<span class=""><a href="http://www.ayhmjy.com/new/1302.html">荷马市场管理</a></span>
					<span class=""><a href="http://www.ayhmjy.com/new/18.html">荷马重庆分校</a></span>
					<span class=""><a href="http://www.ayhmjy.com/new/19.html">荷马河南分校</a></span>
					<span class=""><a href="http://www.ayhmjy.com/new/21.html">荷马云南分校</a></span>
					<span class=""><a href="http://www.ayhmjy.com/new/1311.html">杭州正达分校</a></span>
					<span class=""><a href="http://www.ayhmjy.com/new/5294.html">荷马河北分校</a></span>
					<span class=""><a href="http://www.ayhmjy.com/new/5316.html">荷马成都分校</a></span>
					<span class=""><a href="http://www.ayhmjy.com/new/5292.html">荷马宁夏分校</a></span>
					<span class=""><a href="http://www.ayhmjy.com/new/5330.html">荷马贵州分校</a></span>
				</div>
				<ul class="showlist tdlist" style="display: flex;flex-wrap: wrap;">
					<li>
						<i><img src="{eyou:global name='web_templets_pc' /}/skin/img/1da532e8b814222f1441b6b9c63d0d56.jpg"></i>
						<p class="national_titi" style="padding-top:30px;">
							<span class="nation_left"></span>
							<span class="nation_right">
								<label>何玉凯</label>
								<label>艾艺荷马董事长</label>
							</span>
						</p>
						<p class="national_text" style="padding-top:35px;">
							<span style="text-indent:0;"></span>
							<a href="http://www.ayhmjy.com/detail/5910.html">更多》</a>
						</p>
					</li>
					<li>
						<i><img src="{eyou:global name='web_templets_pc' /}/skin/img/8-1PR11542110-L.png"></i>
						<p class="national_titi" style="padding-top:30px;">
							<span class="nation_left"></span>
							<span class="nation_right">
								<label>张波</label>
								<label>艾艺荷马总经理</label>
							</span>
						</p>
						<p class="national_text" style="padding-top:35px;">
							<span style="text-indent:0;"></span>
							<a href="http://www.ayhmjy.com/detail/5915.html">更多》</a>
						</p>
					</li>
					<li>
						<i><img src="{eyou:global name='web_templets_pc' /}/skin/img/f634683100fb2ccae53e3361f29e17be.jpg"></i>
						<p class="national_titi" style="padding-top:30px;">
							<span class="nation_left"></span>
							<span class="nation_right">
								<label>王永峰</label>
								<label>荷马教育总校校长</label>
							</span>
						</p>
						<p class="national_text" style="padding-top:35px;">
							<span style="text-indent:0;"></span>
							<a href="http://www.ayhmjy.com/detail/5911.html">更多》</a>
						</p>
					</li>
					<li>
						<i><img src="{eyou:global name='web_templets_pc' /}/skin/img/8-1PR11530470-L.png"></i>
						<p class="national_titi" style="padding-top:30px;">
							<span class="nation_left"></span>
							<span class="nation_right">
								<label>李耀东</label>
								<label>全国运营管理总监</label>
							</span>
						</p>
						<p class="national_text" style="padding-top:35px;">
							<span style="text-indent:0;"></span>
							<a href="http://www.ayhmjy.com/detail/5912.html">更多》</a>
						</p>
					</li>
					<li>
						<i><img src="{eyou:global name='web_templets_pc' /}/skin/img/8-1PR1153T10-L.png"></i>
						<p class="national_titi" style="padding-top:30px;">
							<span class="nation_left"></span>
							<span class="nation_right">
								<label>江程</label>
								<label>全国课程研发总监</label>
							</span>
						</p>
						<p class="national_text" style="padding-top:35px;">
							<span style="text-indent:0;"></span>
							<a href="http://www.ayhmjy.com/detail/5913.html">更多》</a>
						</p>
					</li>
					<li>
						<i><img src="{eyou:global name='web_templets_pc' /}/skin/img/8-1PR11540200-L.png"></i>
						<p class="national_titi" style="padding-top:30px;">
							<span class="nation_left"></span>
							<span class="nation_right">
								<label>杨诗伟</label>
								<label>艾艺在线教育部总监</label>
							</span>
						</p>
						<p class="national_text" style="padding-top:35px;">
							<span style="text-indent:0;"></span>
							<a href="http://www.ayhmjy.com/detail/5914.html">更多》</a>
						</p>
					</li>
					<li>
						<i><img src="{eyou:global name='web_templets_pc' /}/skin/img/8-1PR1154G10-L.png"></i>
						<p class="national_titi" style="padding-top:30px;">
							<span class="nation_left"></span>
							<span class="nation_right">
								<label>陈果丽</label>
								<label>艾艺荷马行政总监</label>
							</span>
						</p>
						<p class="national_text" style="padding-top:35px;">
							<span style="text-indent:0;"></span>
							<a href="http://www.ayhmjy.com/detail/5917.html">更多》</a>
						</p>
					</li>
				</ul>
			</div>
			<div class="paging" id="paging">
				<ul class="pageulcom"></ul>
			</div>
		</div>
	</div>
	{eyou:include file='footer.htm' /}

</body>

</html>