<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="{$eyou.field.seo_keywords}">
	<!-- 页面描述 -->
	<meta name="description" content="{$eyou.field.seo_description}">
	<title>{$eyou.field.seo_title}</title>
    <link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/aos.css">
    <link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/swiper.min.css">
    <link rel="stylesheet" href="{eyou:global name='web_templets_pc' /}/skin/css/main.css">

    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/aos.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/swiper.min.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/dyfrom.js"></script>
    <script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/main.js"></script>
</head>

<body>
	{eyou:include file='header.htm' /}
	<div class="nbanner">
		<img src="{eyou:global name='web_templets_pc' /}/skin/img/bmskc.jpg">
	</div>
	{eyou:include file='searchbar.htm' /}
	<div class="youxiuzuopin">
		<div class="warpper">
			<div class="nav_titi_name">
				<span class="nav_titi_name_a">全国分校</span>
				<span class="nav_titi_name_b">
					<label>CAMPUS SHOW</label>

				</span>
				<label class="nav_titi_name_c"></label>
			</div>

			<div class="youxiucom">
				<div class="activeclidk rigleft">
					{eyou:channel type='son' typeid='77' currentclass='activecoler'}
					<span class="hegexian {$field.currentclass}">
						<a href="{$field.typeurl}">{$field.typename}</a>
					</span>
					{/eyou:channel}
				</div>
				<ul class="showlist" style="display: flex;flex-wrap: wrap;">
					{eyou:list}
					<li>
						<i><img src="{$field.litpic}"></i>
						<p class="national_titi">
							<span class="nation_left"></span>
							<span class="nation_right">
								<label>{$field.title}</label>
								<label></label>
							</span>
						</p>
						<p class="national_text">
							<span>校区简介 {$field.seo_description}</span>
							<a href="{$field.arcurl}">更多》</a>
						</p>
					</li>
					{/eyou:list}
				</ul>
			</div>
			<div class="paging" id="paging">
				<ul class="pageulcom"></ul>
			</div>
		</div>
	</div>

	{eyou:include file='footer.htm' /}
</body>

</html>